.kontakt-container{
    width: 100%;
    background-color: rgb(236, 208, 182);
}
.kontakt-kolumn{
    width: 60%;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 100px 0;
}
h4{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 25px;
    padding-bottom: 30px;
}
.kontaktinfo{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}
.kontaktinfo p{
    font-size: 18px;
}
.kontaktinfo-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.kontaktbild{
    width: 500px;
}
.facebooklink, .instagramlink{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}
footer::before {
  content: "";
  position: absolute;
  top: -5px; /* flytta upp trekanten över kanten */
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid rgb(247, 247, 247);; /* Färgen på BAKGRUNDEN ovanför footern */
  z-index: 1;
}